/********************/
/* standard classes */

:root {
	--text: #333;
	--title-fg: #b7410e;
	--page-bg: #fefefe;
	--accent: #b7410e;
	--dark-accent-rgb: 95, 135, 95;
	--dark-accent: rgb(var(--dark-accent-rgb));
	--dark-border: #5f875f59;
	--bg: #222;
	--sidenav-bg: #2a54e8;
	--top-nav-bg: var(--sidenav-bg);
	--sidenav-fg: #eee;
	--link-fg: #1835f6;
	--link-bg: rgba(var(--dark-accent-rgb), 0.5);
	--code-fg: #eee;
	--code-bg: #516edb;
	--note-bg: #1c393542;
	--inline-code-border: solid 1px #333;
	--hovered-menu-bg: #1835f6;
	--active-menu-bg: #b7410e;
	--h1-line-left: rgba(42, 84, 232, 1);
	--h1-line-center: rgba(39, 39, 39, .2);
	--h1-line-right: rgba(0, 0, 0, 0);
	--col-max-width: 800px;
	--p-max-width: 800px;
}

body::before {
	font-family: sans-serif;
	background: 0;
}

body {
	font-size: 15px;
	background: var(--page-bg);
	color: var(--text);
}

body .col-md-9 p img {
	background-color: transparent;
	box-shadow: none;
}

@media (max-width: 800px) {
	#navbar-collapse .nav .navitem a.nav-link,
	#navbar-collapse .nav .nav-item a.nav-link {
		padding: 0 0 0 5px;
	}
}
p.logo {
	text-align: center;
}
.col-md-9 p.logo img.logo {
	background: transparent;
	box-shadow: none;
}
body .bg-secondary {
	background-color: transparent !important;
}
body .card {
	border: none;
}

body .bg-dark {
	background-color: #343a40 !important;
}

h1 {
	font-size: 22px;
	border-bottom: solid 1px;
	padding-bottom: 8px;
	margin: 40px 0 25px 0;
	border-image-source: linear-gradient(to right, var(--h1-line-left) 0%, var(--h1-line-center) 50%, var(--h1-line-right) 100%);
	border-image-slice: 1;
	color: var(--title-fg);
	max-width: var(--p-max-width);
}
h2 {
	font-size: 19px;
	color: var(--title-fg);
	margin: 25px 0 20px 0;
}
h3 {
	font-size: 16px;
	color: var(--title-fg);
}
h4 {
	color: var(--title-fg);
}

#toc-collapse ul.nav.flex-column.bs-sidenav {
	padding-bottom: 30px;
}

body .navbar {
	background: var(--top-nav-bg) !important;
	padding: 0;
}
html body .navbar-default .navbar-nav > .active > a.nav-link,
html body .navbar-default .navbar-nav > .active > a.nav-link:focus,
html body .navbar .navbar-nav > .active > a.nav-link,
html body .navbar .navbar-nav > .active > a.nav-link:focus {
	background: var(--active-menu-bg) !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:focus {
	background: var(--hovered-menu-bg) !important;
}

pre {
	padding: 0;
	border-radius: 5px;
	color: var(--code-fg);
	background: var(--code-bg);
	border: solid 1px var(--code-bg);
	padding: 6px 0 4px 6px;
}

code {
	border-radius: 0;
	color: var(--code-fg);
	border: var(--inline-code-border);
	background: var(--code-bg);
}
.hljs {
	color: var(--code-fg);
	background: var(--code-bg);
}

body a {
	color: var(--link-fg);
}
body .nav-item a,
body a.nav-link,
body .navbar-dark .navbar-nav a,
body .navbar-dark .navbar-nav a.nav-link
{
	color: var(--sidenav-fg) !important;
}
[role="main"] a {
	text-decoration: underline;
	color: var(--link-fg);
}
[role="main"] a:hover {
	background: var(--link-bg);
}

kbd {
	padding: 2px 4px;
	background: var(--sidenav-bg) !important;
	border-radius: 2px;
	/*box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);*/
	font-weight: bold;
	margin: 1px;
}

kbd.b {
	font-size: 18px;
	padding: 0 5px;
}

.col-md-9 {
	max-width: var(--col-max-width);
}
p {
	max-width: var(--p-max-width);
}
.col-md-9 img {
	max-width: 100%;
	display: inline-block;
	padding: 0;
	line-height: 1.428571429;
	background-color: #fff;
	border: none;
	border-radius: 0;
	margin: 10px auto 20px auto;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.navbar-collapse {
	padding-left: 0;
}
.bs-sidenav {
	background: var(--sidenav-bg) !important;
}
.bs-sidenav.nav li {
	padding-left: 15px;
}
.bs-sidenav.nav li.main {
	padding-left: 0px;
}
body .navbar {
	line-height: 36px;
}
body .navbar-brand {
	padding-left: 85px;
	color: var(--accent);
	font-size: 24px;
}

.bs-sidebar .nav > li > a {
	border-right: 1px solid transparent;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a,
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus
{
	font-weight: initial;
	background: var(--active-menu-bg) !important;
	border-right: 1px solid;
}
.bs-sidebar .nav > .main.active > a,
.bs-sidebar .nav > .main.active:hover > a,
.bs-sidebar .nav > .main.active:focus > a {
	font-weight: normal;
}
.bs-sidebar .nav > li > a {
  font-weight: normal;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: transparent;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid var(--dark-border);
	color: var(--text);
}
.table-hover > tbody > tr:hover {
	background: transparent;
}
table td a {
    color: var(--dark-accent);
}
.table > thead > tr > th {
    border-bottom: 2px solid var(--dark-accent);
}

body .dropdown-menu {
	background: #222;
}
body .dropdown-menu li a {
	color: #ddd;
}

body .dropdown-menu > .active > a,
body .dropdown-menu > .active > a:focus {
	color: #111;
	background: #fc0;
}
body ul.dropdown-menu li.active a:hover {
	color: #111;
	background: #fc0;
}
body ul.dropdown-menu li a:hover {
	color: #111;
	background: #fc0;
}
body .nav>li>a:hover, body .nav>li>a:focus {
	background: var(--hovered-menu-bg) !important;
}
body .toc-header {
	font-weight: bold;
	font-size: 18px;
	margin-left: 20px;
	padding-bottom: 8px;
	align-self: start;
}
.admonition.note {
    color: var(--text);
    background: var(--note-bg);
    border-color: var(--dark-border);
}

td code {
	white-space: nowrap;
}

.modal-title {
	color: #eee;
}
.modal-dialog {
	font-size: 15px;
	color: #ccc;
}
.modal-dialog a {
	color: var(--accent);
}
.modal-dialog a:hover {
	text-decoration: underline;
	color: var(--accent);
}
.modal-content {
	background: #222;
}

code.no-wrap {
	white-space: normal;
}

body #toc-collapse ul.nav.flex-column.bs-sidenav {
	overflow-y: auto;
	max-height: 85vh;
}
/******************/
/* custom classes */

.install-link {
	font-size: 15px;
	margin: 10px 0 10px 0px;
	text-align:center;
	background: #133d55;
	border-radius: 5px;
	padding: 5px 8px;
}
.install-link:hover {
	background: #acf;
}
